@import "tailwindcss";
/* @config "../tailwind.config.js";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
 */

 .nt-embed{
    width: 100%;
    height: 100%;
}
.nt-embed canvas{
    width: 100%;
    height: 100%;
}  

html,body{
    height: 200vh;
    background: black;
}