@import "tailwindcss";
/* ---break---
 */
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Pulsar';
  src: url('./assets/Pulsar-Original.otf');
}
@font-face {
  font-family: 'Anek';
  src: url('./assets/Oswald-Regular.ttf');
}
@font-face {
  font-family: 'Aileron';
  src: url('./assets/Aileron-Regular.otf');
}

/* ---break---
 */
/* @custom-variant dark (&:is(.dark *)); */
/* @config "../tailwind.config.js";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
 */

 *{
    margin: 0;
    box-sizing: border-box;
  }

  .nt-embed{
    width: 100%;
    height: 100%;
    /* position: relative; */
  }
  .nt-embed canvas{
    width: 100%;
    height: 100%;
  }  

  html,body{
    padding: 0;
    min-height: 100vh; 
    /* background: white; */
    /* background: linear-gradient(to top, #04050c 0%, #040b13 50%, #000000 100%); */
    background: black;
    color: white;
    overflow-x: hidden;
  font: var(--font-text-primary);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}  

@theme{
  --font-text-primary: 'Pulsar';
  --font-text-secondary: 'Anek';
  --font-text-tertiary: 'Aileron';
}

/* ---break---
 */  

/* @layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
} */  

/* ---break---
 */  

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  /* ---break---
 */
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  /* ---break---
 */
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  --animate-aurora: aurora 8s ease-in-out infinite alternate
;
  @keyframes aurora {
  0% {
    backgroundPosition: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  25% {
    backgroundPosition: 50% 100%;
    transform: rotate(5deg) scale(1.1);
    }
  50% {
    backgroundPosition: 100% 50%;
    transform: rotate(-3deg) scale(0.95);
    }
  75% {
    backgroundPosition: 50% 0%;
    transform: rotate(3deg) scale(1.05);
    }
  100% {
    backgroundPosition: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  }}  

/* ---break---
 */  

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */  

/* ---break---
 */  

/* ---break---
 */  

